[Unit]
Description=Script for retranslation posts from VK to TO

[Service]
Restart=always
User=root
WorkingDirectory=/root
ExecStart=python3 /root/fastcup-vk-to-tg/script.py
[Install]

WantedBy=multi-user.target